/*Change the font style on the Entire Document */
html{
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: Gray;
  }

  /*Change on the Body*/
  body{
     font-family: "Courier New", sans-serif;
    font-size: 2rem;
    color: white;
    background-color: #333;
    text-align:center;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #399f98;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #399f98;
  }
  footer{
   font-family:  'Courier New', Tahoma, Geneva, Verdana, sans-serif;
  }
